cc-base/main/default/flows/Create_Resume_Achievements_from_Cert_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Create Achievement Record</description>
        <name>asgAchievementRecord</name>
        <label>asgAchievementRecord</label>
        <locationX>549</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>sovAchievement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovCertificationRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAchievement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovCertRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAchievement.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovCertificationRecord.Completed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovAchievement.Resume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovResume.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgAchRecToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgAchRecToColl</name>
        <label>asgAchRecToColl</label>
        <locationX>550</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>socAchievements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovAchievement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopActiveResumes</targetReference>
        </connector>
    </assignments>
    <description>Creates Certification Achievement records when a Certifcation is passed in Cert tracker App.</description>
    <interviewLabel>Create Resume Achievements from Cert Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Resume Achievements from Cert Tracker</label>
    <loops>
        <name>loopActiveResumes</name>
        <label>loopActiveResumes</label>
        <locationX>276</locationX>
        <locationY>397</locationY>
        <assignNextValueToReference>sovResume</assignNextValueToReference>
        <collectionReference>sovActiveResumes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgAchievementRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fcAchievements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>fcAchievements</name>
        <label>fcAchievements</label>
        <locationX>284</locationX>
        <locationY>517</locationY>
        <inputReference>socAchievements</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Looks up Active Resumes for the Contact that took the Exam</description>
        <name>fluActiveResumes</name>
        <label>fluActiveResumes</label>
        <locationX>261</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopActiveResumes</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCertificationRecord.Contact__c</elementReference>
            </value>
        </filters>
        <object>Resume__c</object>
        <outputReference>sovActiveResumes</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>fluCertificationAchievementRT</name>
        <label>fluCertificationAchievementRT</label>
        <locationX>254</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fluCertificationLookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Achievement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sovCertRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>fluCertificationLookup</name>
        <label>fluCertificationLookup</label>
        <locationX>257</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fluActiveResumes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCertificationId</elementReference>
            </value>
        </filters>
        <object>Certification__c</object>
        <outputReference>sovCertificationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Completed_Date__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <startElementReference>fluCertificationAchievementRT</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of Achievement records to create</description>
        <name>socAchievements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Achievement__c</objectType>
    </variables>
    <variables>
        <description>Achievement Record</description>
        <name>sovAchievement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Achievement__c</objectType>
    </variables>
    <variables>
        <description>List of Active Resume Ids for the Contact</description>
        <name>sovActiveResumes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resume__c</objectType>
    </variables>
    <variables>
        <name>sovCertificationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Certification__c</objectType>
    </variables>
    <variables>
        <description>Record Type Id for the Certification Achievement object</description>
        <name>sovCertRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Resume variable iteration</description>
        <name>sovResume</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resume__c</objectType>
    </variables>
    <variables>
        <name>vCertificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
